@import 'compass';
@import 'compass/css3/pie';
@import 'scenic';

body.scenic-view {
  overflow: hidden;
}

#scenic.default {
  background-color: #1e1e1e;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px 0;

  ul {
    li {
      vertical-align: middle;

      &.previous, &.next {
        width: 10%;

        img {
          width: 90%;
        }

      }

      &.next img {
        margin-left: 10%;
      }

      &:first-child.active {
        padding-left: 10%;
      }

      &:last-child.active {
        padding-right: 10%;
      }

      &.active {
        text-align: center;
        width: 80%;
      }

      span {
        display: block;
        vertical-align: middle;
      }

      img {
        @include box-shadow(0 5px 10px 0px rgba(0, 0, 0, 0.4));
        height: auto;
        margin: 0;
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle;
      }

    }
  }
}
