a.scenic {
  img {
    height: auto;
    width: 200px;
  }
}

#scenic {
  left: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;

  ul {
    height: 100%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;

    li {
      clear: none;
      display: none;
      float: left;
      height: 100%;
      margin: 0;
      padding: 0;

      &.previous, &.active, &.next {
        display: block;

        span {
          cursor: pointer;
        }
      }

      img, span {
        margin: 0;
        padding: 0;
      }
    }
  }
}
