a.scenic img {
  height: auto;
  width: 200px; }

#scenic {
  left: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%; }
  #scenic ul {
    height: 100%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%; }
    #scenic ul li {
      clear: none;
      display: none;
      float: left;
      height: 100%;
      margin: 0;
      padding: 0; }
      #scenic ul li.previous, #scenic ul li.active, #scenic ul li.next {
        display: block; }
        #scenic ul li.previous span, #scenic ul li.active span, #scenic ul li.next span {
          cursor: pointer; }
      #scenic ul li img, #scenic ul li span {
        margin: 0;
        padding: 0; }
