a.scenic img {
  height: auto;
  width: 200px; }

#scenic {
  left: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%; }
  #scenic ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0; }
    #scenic ul li {
      clear: none;
      display: none;
      float: left;
      margin: 0;
      padding: 0; }
      #scenic ul li.previous, #scenic ul li.active, #scenic ul li.next {
        display: block; }
        #scenic ul li.previous span, #scenic ul li.active span, #scenic ul li.next span {
          cursor: pointer; }
      #scenic ul li div, #scenic ul li img, #scenic ul li span {
        margin: 0;
        padding: 0; }

#scenic.default {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px 0; }
  #scenic.default ul li.previous, #scenic.default ul li.next {
    width: 10%; }
  #scenic.default ul li:first-child.active {
    padding-left: 10%; }
  #scenic.default ul li:last-child.active {
    padding-right: 10%; }
  #scenic.default ul li.active {
    text-align: center;
    width: 80%; }
  #scenic.default ul li img {
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    height: auto;
    margin: 0;
    max-width: 100%;
    vertical-align: middle; }
