a.scenic img {
  height: auto;
  width: 200px; }

#scenic {
  left: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%; }
  #scenic ul {
    height: 100%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%; }
    #scenic ul li {
      clear: none;
      display: none;
      float: left;
      height: 100%;
      margin: 0;
      padding: 0; }
      #scenic ul li.previous, #scenic ul li.active, #scenic ul li.next {
        display: block; }
        #scenic ul li.previous span, #scenic ul li.active span, #scenic ul li.next span {
          cursor: pointer; }
      #scenic ul li img, #scenic ul li span {
        margin: 0;
        padding: 0; }

body.scenic-view {
  overflow-x: hidden; }

#scenic.default {
  background-color: #1e1e1e;
  background-color: rgba(0, 0, 0, 0.9); }
  #scenic.default ul li {
    padding: 10px 0;
    vertical-align: middle; }
    #scenic.default ul li.previous, #scenic.default ul li.next {
      width: 10%; }
      #scenic.default ul li.previous:hover, #scenic.default ul li.next:hover {
        background-color: rgba(255, 255, 255, 0.4); }
      #scenic.default ul li.previous img, #scenic.default ul li.next img {
        width: 90%; }
    #scenic.default ul li.next img {
      margin-left: 10%; }
    #scenic.default ul li:first-child.active {
      padding-left: 20%; }
    #scenic.default ul li:last-child.active {
      padding-right: 20%; }
    #scenic.default ul li.active {
      padding: 0 10%;
      text-align: center;
      width: 60%; }
    #scenic.default ul li span {
      display: block;
      vertical-align: middle; }
    #scenic.default ul li img {
      -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
      box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
      height: auto;
      margin: 0;
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle; }
